@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
}

body{
  font-family: "Raleway", sans-serif;

  /* colors */
  --main-color: #8a2be2;
  --border-lines: #63636344;
  --border-lines-50: #00000015;

  scroll-behavior: smooth;
}

.bubbles{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* background-color: rgba(74, 126, 128, 0.329); */
 
}

.bubbles .bubble{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  filter: blur(250px);
}

.bubble:nth-child(1){
  top: -10%;
  left: -5%;
  background-color: rgb(153, 0, 255);
}
.bubble:nth-child(2){
  bottom: 10%;
  left: 45%;
  background-color: rgb(153, 0, 255);
}
.bubble:nth-child(3){
  top: 0%;
  right: -5%;
  background-color: rgb(153, 0, 255);
}

.navbar{
  width: 100%;
  padding: 20px 40px;
  z-index: 10;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.navbar ul li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.nav-links{
  display: flex;
  gap: 0px;
}

.navbar h1 a{
  color: #000;
  text-decoration: none;
}

.nav-links a{
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  text-transform: capitalize;
  transition: .2s;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}

.nav-links a:hover{
  color: var(--main-color);
}

.navbar ul li h1,
.footer h1{
  font-family: "Salsa", sans-serif;
  font-weight: 300;
  font-size: 30px;
  display: flex;
}


.navbar a.button{
  background-color: var(--main-color);
  border: none;
  outline: none;
  height: 40px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}

.navbar a.button.lgn{
  background-color: transparent;
  color: #000;
}
.navbar a.button:hover{
  opacity: .8;
}

.topsearch{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: relative;
}

.topsearch form{
  position: relative;
  width: 230px;
}

.topsearch form svg{
  position: absolute;
  margin: auto;
  opacity: .3;
  font-size: 18px;
}

.topsearch form svg.srch{
  top: 0;
  bottom: 0;
  left: 13px;
}


.topsearch form input{
  height: 40px;
  border: 0;
  outline: none;
  border: 1px solid var(--border-lines-50);
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  padding: 5px 5px 5px 40px;
  background-color: #eeeeee5d;
  color: #333;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  transition: .2s;
}

.topsearch form input::-webkit-search-cancel-button{   
  -webkit-appearance: none;
}

.topsearch form input:hover{
  border-color: var(--border-lines);
}

.topsearch form input:focus{
  box-shadow: 0px 0px 0px 2px var(--main-color);
  border-color: var(--main-color);
}

.account-letter{
  background-color: var(--main-color);
  aspect-ratio: 1/1;
  height: 40px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 22px;
  font-weight: 800;
  border-radius: 50%;
  /* border: 1px solid #333; */
  color: #fff;
  cursor: pointer;
  transition: .2s;
  text-transform: capitalize;
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.account-letter:active{
  scale: 0.95;
}

.account-menu{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 120%;
  right: 0;
  background-color: #ffffffdc;
  backdrop-filter: blur(4px);
  border: 1px solid var(--border-lines-50);
  padding: 15px;
  width: 280px;
  /* overflow: hidden; */
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-15px) scale(0.9);
  transition: .2s;

}

.account-letter.open-modal ~ .account-menu{
  opacity: 1;
  visibility: visible;
  transform: translateY(0px) scale(1);
}

.account-menu .am-header{
  width: 100%;
  display: flex;
}

.account-menu h4{
  font-size: 15px;
  font-weight: 600;
  /* background-color: chocolate; */
  max-width: 240px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.am-header svg{
  font-size: 25px;
  min-width: 25px;
  color: #000;
  cursor: pointer;
  transition: .2s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  /* background-color: chocolate; */
  user-select: none; /* Standard syntax */
}

.am-header svg:hover{
  transform: rotate(70deg);
  color: var(--main-color);
}

.am-header svg:active{
  scale: 0.9;
  color: var(--main-color);
}

.account-menu button{
  background-color: var(--main-color);
  border: none;
  outline: none;
  width: 100%;
  height: 36px;
  padding: 0 10px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  gap: 5px;
  cursor: pointer;
  transition: .2s;
}


.account-menu p{
  font-size: 14px;
  font-weight: 500;
  opacity: .4;
  padding-bottom: 10px;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.account-menu .btnloader{
  display: block;
}

.settings-wrapper{
  background-color: rgba(0, 0, 0, 0.445);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 12;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

.settings-wrapper.show{
  opacity: 1;
  visibility: visible;
}

.settings-body{
  width: 90%;
  max-width: 600px;
  height: 90%;
  max-height: 500px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  transform: translateY(40px);
  transition: .3s;
  overscroll-behavior: contain;
}
.settings-wrapper.show .settings-body{
  transform: translateY(0);
}

.settings{
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.s-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: cadetblue; */
  margin-bottom: 20px;
  border-bottom: 1px solid var(--border-lines-50);
  padding-bottom: 15px;
}

.s-header h1{
  font-size: 20px;
  font-weight: 700;
}

.s-header svg{
  font-size: 24px;
  cursor: pointer;
  transition: .2s;
}

.s-header svg:hover{
  color: var(--main-color);
}

.s-section{
  /* margin-bottom: 0px; */
  padding: 5px;
}

.s-section form{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.s-section form .save{
  background-color: var(--main-color);
  border: none;
  outline: none;
  height: 40px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  gap: 5px;
  cursor: pointer;
  transition: .2s;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
}

.s-section form .edit:focus ~ .save{
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.s-section form .btnloader{
  height: 25px;
  width: 25px;
  border: 2px solid var(--main-color);
  border-bottom: 2px solid var(--border-lines-50);
  border-right: 2px solid var(--border-lines-50);
  border-radius: 50%;
  display: none;
  animation: spinnerbtn .5s infinite ease-in-out;
}

.s-section form .btnloader.show{
  display: block;
}


.s-section h3{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
}

.s-section p{
  font-size: 14px;
  font-weight: 600;
  opacity: .4;
  margin-bottom: 10px;
}

.themes{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.themes .theme-box{
  background-color: #fff;
  width: 100px;
  height: 70px;
  margin-bottom: 10px;
  border: 3px solid var(--border-lines);
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.themes .theme-box svg{
  font-size: 25px;
  color: var(--main-color);
  display: none;
}

.themes .theme-box:hover{
  border-color: var(--main-color);
}

.themes .theme-box.active{
  /* border-color: var(--main-color); */
}

.themes .theme-box.active svg{
  display: block;
}














.hero{
  /* background-color: cadetblue; */
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  padding-bottom: 50px;
}

.hero h5{
  background-color: #bbbbbb21;
  padding: 10px 15px;
  border-radius: 40px;
  border: 1px solid var(--border-lines);
  /* margin-bottom: 10px; */
  font-size: 15px;
}

.hero h1{
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  max-width: 800px;
}

.hero p{
  max-width: 800px;
  text-align: center;
  /* opacity: .7; */
  font-weight: 600;
  line-height: 24px;
  font-size: 18px;
}

.herobtns{
  display: flex;
  gap: 0px;
}

.herobtns a{
  background-color: var(--main-color);
  border: none;
  outline: none;
  height: 50px;
  width: 250px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}

.herobtns a svg{
  font-size: 18px;
}

.herobtns a.git{
  background-color: transparent;
  color: #000;
}

.herobtns a:hover{
  opacity: .8;
}

.gallery {
  column-count: 4;
  column-gap: 20px;
  width: 90%;
  max-width: 1700px;
  margin: auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.gallery-item img.post {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
  box-shadow: 0px 3px 4px 0px #d3d3d3af;
}

.gallery-item .owner{
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.gallery-item .owner img.profile {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.gallery-item .owner .op-details{
  width: 100%;
}

.gallery-item .owner .op-details h1{
  font-weight: 700;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
}


.gallery-item .owner .op-details p,
.gallery-item .owner .op-details h1 span:nth-child(2)
{
  font-size: 13px;
  font-weight: 600;
  opacity: .6;
}

.library{
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  /* background-color: #d4d4d436; */
  /* background: url("./images/card-bg.jpg") center/cover no-repeat; */
  margin: auto;
  width: 90%;
  max-width: 1700px;
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 50px;
  /* box-shadow: 0px 0px 40px -20px rgba(110, 0, 110, 0.123); */
}

.library h1{
  text-transform: capitalize;
  font-size: 40px;
}

.library p{
  font-size: 18px;
  font-weight: 600;
}

.library .button{
  background-color: var(--main-color);
  border: none;
  outline: none;
  height: 45px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  gap: 5px;
  cursor: pointer;
  transition: .2s;
}

.library .button:hover{
  opacity: .8;
}

.footer{
  min-height: 100px;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: relative;
}

.footer:after{
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--border-lines);
  width: 80%;
  opacity: .5;
}

.footer p{
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.footer .bottom-links{
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bl-links{
  display: flex;
  gap: 0px;
}

.bl-links a{
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  text-transform: capitalize;
  transition: .2s;
  font-size: 15px;
  font-weight: 600;
}

.bl-links a:hover{
  color: var(--main-color);
}

.notfound{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0px;
  opacity: .7;
}

.notfound h1{
  font-family: sans-serif;
  font-weight: 900;
  font-size: 70px;
  display: flex;
  margin-bottom: 20px;
  z-index: 10;

}

.notfound p{
  font-size: 18px;
  display: flex;
  margin-bottom: 10px;
  font-weight: 600;
  z-index: 10 !important;

}

.auth-page{
  /* background-color: cadetblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.ap-card{
  width: 100%;
  height: 100%;
  display: flex;
  box-shadow: 0px 0px 20px -5px #cfcfcf59;
  border-radius: 30px;
}

.apc-left{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
}

.lottie-container{
  /* background-color: cadetblue; */
  width: 90%;
  max-width: 350px;
}

.apc-right{
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

.apc-right .close{
  position: absolute;
  top: 20px;
  right: 20px;
  color: #202020;
  text-decoration: none;
  background-color: var(--border-lines-50);
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.apc-right h1{
  font-family: "Salsa", sans-serif;
  font-weight: 300;
  font-size: 30px;
  display: flex;
}

.apc-right h3{
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
}

.apc-right form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  /* background-color: cadetblue; */
}

.apc-right form label{
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 90%;
  max-width: 500px;
}

.apc-right p{
  font-size: 15px;
  font-weight: 600;
}

.apc-right form label a{
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
  color: var(--main-color);
  text-decoration: none;
}

.apc-right form label a:hover{
  opacity: .8;
  text-decoration: underline;
}

form input[type="email"],
form input[type="text"],
form input[type="password"]{
  border: none;
  outline: none;
  background-color: #f0f0f038;
  border: 1px solid var(--border-lines-50);
  height: 40px;
  padding: 0 20px;
  transition: .2s;
  border-radius: 10px;
  font-weight: 600;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
} 


form input[type="email"]:focus,
form input[type="text"]:focus,
form input[type="password"]:focus{
  box-shadow: 0px 0px 0px 2px var(--main-color);
  border-color: var(--main-color);
}

form .submitbtn{
  background-color: var(--main-color);
  border: none;
  outline: none;
  height: 40px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}

form .submitbtn:hover{
  opacity: .8;
}

.btnloader{
  height: 27px;
  width: 27px;
  border: 2px solid #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.192);
  border-right: 2px solid rgba(255, 255, 255, 0.192);
  border-radius: 50%;
  display: none;
  animation: spinnerbtn .5s infinite ease-in-out;
}

.btnloader.show{
  display: block;
}

@keyframes spinnerbtn {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

form.submitting  .btnloader{
  display: block;
}

form.submitting .name{
  display: none;
}

.oaths{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.oaths button{
  width: 48%;
  height: 43px;
  font-size: 14px;
  background-color: var(--border-lines-50);
  border: none;
  outline: none;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 10px;
  color: #000;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}

.oaths button:hover{
  opacity: .8;
}

.oaths button img{
  width: 26px;
}


.Toastify__toast{
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  min-height: unset;

}

.toastify {
  background-color: cadetblue;
}

.Toastify__toast-body{
  font-size: 14px;
}

.Toastify__close-button > svg{
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}


.page-header{
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: cadetblue; */
  margin-bottom: 30px;
}

.page-header h1{
  font-size: 35px;
  font-weight: 600;
}