@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 10;
}

body{
  font-family: "Raleway", sans-serif;

  /* colors */
  --main-color: #8a2be2;
  --border-lines: #63636344;

  scroll-behavior: smooth;
}

.bubbles{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background-color: rgba(74, 126, 128, 0.329); */
 
}

.bubbles .bubble{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
   z-index: -1;
  filter: blur(250px);
}

.bubble:nth-child(1){
  top: -10%;
  left: -5%;
  background-color: rgb(153, 0, 255);
}
.bubble:nth-child(2){
  bottom: 10%;
  left: 45%;
  background-color: rgb(153, 0, 255);
}
.bubble:nth-child(3){
  top: 0%;
  right: -5%;
  background-color: rgb(153, 0, 255);
}

.navbar{
  width: 100%;
  padding: 20px 40px;
  z-index: 10;
}

.navbar ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


.navbar ul li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}


.nav-links{
  display: flex;
  gap: 0px;
}

.nav-links a{
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  text-transform: capitalize;
  transition: .2s;
  font-size: 15px;
  font-weight: 600;
  position: relative;
}

.nav-links a:hover{
  color: var(--main-color);
}

.navbar ul li h1,
.footer h1{
  font-family: "Salsa", sans-serif;
  font-weight: 300;
  font-size: 30px;
  display: flex;
}


.navbar a.button{
  background-color: var(--main-color);
  border: none;
  outline: none;
  height: 40px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.topsearch{
  display: flex;
  gap: 10px ;
}

.topsearch form{
  position: relative;
  width: 230px;
}

.topsearch form svg{
  position: absolute;
  margin: auto;
  opacity: .3;
  font-size: 18px;
}

.topsearch form svg.srch{
  top: 0;
  bottom: 0;
  left: 13px;
}


.topsearch form input{
  height: 40px;
  border: 0;
  outline: none;
  border: 1px solid var(--border-lines);
  border-radius: 10px;
  width: 100%;
  font-size: 14px;
  padding: 5px 5px 5px 40px;
  background-color: #eeeeee5d;
  color: #333;
  font-family: "Poppins", sans-serif;
  transition: .2s;
}

.topsearch form input::-webkit-search-cancel-button{   
  -webkit-appearance: none;
}

.topsearch form input:focus{
  box-shadow: 0px 0px 0px 1px var(--main-color);
  border-color: var(--main-color);
}


.hero{
  /* background-color: cadetblue; */
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px 20px 80px;
}

.hero h5{
  background-color: #bbbbbb21;
  padding: 10px 15px;
  border-radius: 40px;
  border: 1px solid var(--border-lines);
}

.hero h1{
  font-weight: 700;
  font-size: 55px;
  text-align: center;
  max-width: 900px;
}

.hero p{
  max-width: 800px;
  text-align: center;
  opacity: .7;
  line-height: 24px;
}

.herobtns{
  display: flex;
  gap: 0px;
}

.herobtns a{
  background-color: var(--main-color);
  border: none;
  outline: none;
  height: 50px;
  width: 250px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: .2s;
}

.herobtns a svg{
  font-size: 18px;
}

.herobtns a.git{
  background-color: transparent;
  color: #000;
}

.herobtns a:hover{
  opacity: .8;
}

.gallery {
  column-count: 4;
  column-gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.gallery-item img.post {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.gallery-item .owner{
  display: flex;
  gap: 10px;
  padding: 10px;
  width: 100%;
}

.gallery-item .owner img.profile {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

.gallery-item .owner .op-details{
  width: 100%;
}

.gallery-item .owner .op-details h1{
  font-weight: 700;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
}


.gallery-item .owner .op-details p,
.gallery-item .owner .op-details h1 span:nth-child(2)
{
  font-size: 13px;
  font-weight: 600;
  opacity: .6;
}

.library{
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;
  /* background-color: #d4d4d436; */
  /* background: url("./images/card-bg.jpg") center/cover no-repeat; */
  margin: auto;
  width: 90%;
  max-width: 1200px;
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 50px;
  /* box-shadow: 0px 0px 40px -20px rgba(110, 0, 110, 0.123); */
}

.library h1{
  text-transform: capitalize;
  font-size: 40px;
}

.library .button{
  background-color: var(--main-color);
  border: none;
  outline: none;
  height: 40px;
  padding: 0 30px;
  font-size: 15px;
  border-radius: 10px;
  color: #fff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  margin-top: 10px;
  gap: 5px;
  cursor: pointer;
  transition: .2s;
}

.library .button:hover{
  opacity: .8;
}

.footer{
  min-height: 100px;
  /* background-color: cadetblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: relative;
}

.footer:after{
  content: "";
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--border-lines);
  width: 80%;
  opacity: .5;
}

.footer p{
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
}

.footer .bottom-links{
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bl-links{
  display: flex;
  gap: 0px;
}

.bl-links a{
  text-decoration: none;
  padding: 0 10px;
  color: #000;
  text-transform: capitalize;
  transition: .2s;
  font-size: 15px;
  font-weight: 600;
}

.bl-links a:hover{
  color: var(--main-color);
}

.notfound{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: .7;
}

.notfound h1{
  font-family: "Salsa", sans-serif;
  font-weight: 900;
  font-size: 70px;
  display: flex;
}

.notfound p{
  font-size: 18px;
  display: flex;
  margin-bottom: 10px;
}

.auth-page{
  background-color: cadetblue;
  display: flex;
  margin: auto;
  height: 100vh;
}

.ap-left{
  width: 50%;
  overflow: hidden;
}

.ap-left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}